* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #35679C;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

.create-container {
    margin: 12%;
    margin-top: 10vh;
    font-size: auto;
}

.google-btn {
    font-size: 20px;
    margin: 20px 0;
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.google-btn:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-account {
    margin: 0 10%;
    text-align: center;
}

.divider {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: black;
}

#confirm-password,
#name,
#password,
#email {
    font-size: large;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

#confirm-password:focus,
#name:focus,
#password:focus,
#email:focus{
    border: 2px solid #35679C;
}

#submit {
    font-size: larger;
    background-color: #35679C;
    color: #fff;
    width: 60%;
    border-radius: 25px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;  
}

#submit:hover {
    background-color: #584fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#submit:hover{
    border: 2px solid #35679C;
    background-color: #fff;
    color: #35679C;
}


#left-img {
    width: 50%;
}

.password-container {
    position: relative;
  }

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}