* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #35679C;
}

h1, h4 {
    margin-bottom: 10px;
    text-align: center;
}

.create-container {
    margin: 12%;
    margin-top: 10vh;
    font-size: auto;
}

.google-btn {
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center; /* Ensures text is centered */
    color: #35679C;
    font-weight: 500;
}

.google-btn:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.google-btn span {
    display: flex;
    align-items: center;
}

.google-btn svg {
    margin-left: 10px; /* Space between text and icon */
}

.google-btn:hover {
    background-color: #ffffff;
    border: 1px solid #35679C;
    cursor: pointer;
}

.login-account {
    margin-top: 15px;
    text-align: center;
}
.login-account a{
    color: #35679C;
}
.divider {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#confirm-password,
#name,
#password,
#email {
    font-size: large;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

#confirm-password:focus,
#name:focus,
#password:focus,
#email:focus{
    border: 2px solid #35679C;
}

#submit {
    font-size: 18px;
    background-color: #35679C;
    color: #fff; 
    width: 60%; 
    border-radius: 25px; 
    padding: 15px;
    margin: 15px 0px 10px 11vh; 
    border: none; 
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;  
}

#submit:hover {
    background-color: #3d7cc1;
    transition: background-color 0.3s ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#left-img {
    width: 50%;
}

.password-container {
    position: relative;
  }

.eye-icon {
    position: absolute;
    top: 46%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}