* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #35679C;
}

h1,h4{
    margin-bottom: 10px;
    text-align: center;
}


.forgotPassword {
    margin: auto;
    font-size: large;
}

#back-btn {
    font-size: 20px;
    padding: 10px 15px;
    min-width: 200px;
    border: 1px solid #35679C;
    background-color: #ffffff;
    color: #35679C;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 68px;
}
#back-btn:hover {
    transition: background-color 0.3s;
    background-color :#efeded;
}


#email {
    font-size: large;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

#email:focus{
    border: 2px solid #35679C;
    
}

#submit {
    font-size: 18px;
    background-color: #35679C;
    color: #fff;
    width: 60%;
    border-radius: 25px;
    padding: 12px;
    margin-top: 20px;
    margin-left: 70px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;  
    margin-bottom: 20px;
}

#submit:hover {
    background-color: #3882d2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


#left-img {
    width: 49.25%;
}

#back-btn .material-icons {
    vertical-align:sub;
}