* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #35679C;
}

h1,h5{
    margin-bottom: 10px;
    text-align: center;
}

.forgotPassword {
    margin: auto;
    font-size: large;
}

#back-btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
    border: 1px solid #35679C;
    background-color: #fff;
    color: #35679C;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.create-account {
    margin: 0 15%;
}

#email {
    font-size: large;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

#email:focus{
    border: 2px solid #35679C;
    
}

#submit {
    font-size: 18px;
    background-color: #35679C;
    color: #fff;
    width: 60%;
    border-radius: 25px;
    padding: 12px;
    margin-top: 20px;
    margin-left: 70px;
    border: none;
    cursor: pointer;
    border: 2px solid #35679C;
}
#submit:hover{
    border: 2px solid #35679C;
    background-color: #fff;
    color: #35679C;

}

#left-img {
    width: 50%;
}

#back-btn .material-icons {
    vertical-align:sub;
}