* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: #35679C;
}

h1,h5{
    margin-bottom: 10px;
    text-align: center;
}


.forgotPassword {
    margin: auto;
    font-size: large;
}

#back-btn {
    font-size: 20px;
    color: rgb(129, 129, 183);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    margin-top: 15px;
    transition: color 0.7s box-shadow 1s;

}
#back-btn:hover {
    color :#0d00ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add text shadow on hover */
}

.create-account {
    margin: 0 15%;
}

#email {
    font-size: large;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
}

#email:focus{
    border: 2px solid #35679C;
    
}

#submit {
    font-size: 18px;
    background-color: #35679C;
    color: #fff;
    width: 60%;
    border-radius: 25px;
    padding: 12px;
    margin-top: 20px;
    margin-left: 70px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;  
}

#submit:hover {
    background-color: #584fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#left-img {
    width: 50%;
}

#back-btn .material-icons {
    vertical-align:sub;
}