* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#img {
    float: left;
    width: 54%;
    height: 100vh; 
    position: relative; 
}

#left-img {
    width: 91.25%;
    height: 100%;
    position: absolute; 
    bottom: 0; 
}

#login-container {
    float: left;
    width: 46%;
    height: 100vh;
    padding: 7% 10% 5% 10%;
    box-sizing: border-box;
    overflow-y: auto;
    margin-left: -50px;
    overflow: hidden;
}

h1, h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #35679C;
}

.google-btn {
    font-size: 20px;
    padding: 15px;
    border-radius: 25px; 
    border: 1px solid #ddd;
    text-align: center;
    color: #35679C;
}

.google-btn:hover {
    background-color: #ffffff;
    border: 1px solid #35679C;
    cursor: pointer;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.create-account {
    margin: 20px 0 10px 0;
    text-align: center;
    color: #35679C;
}

.divider {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: black;
}

#password,
#email {
    font-size: large;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #ddd; 
    border-radius: 25px;
    outline: none;
}

#password:focus,
#email:focus {
    border: 2px solid #35679C;
}

#submit {
    font-size: 100%;
    background-color: #35679C;
    color: #fff; 
    width: 100%; 
    border-radius: 25px; 
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #35679C;
}
#submit:hover {
    border: 1px solid #35679C;
    background-color: #fff;
    color: #35679C;
}



@media (max-width: 1000px) {
    #img, #login-container {
        width: 100%; 
    }
}


.form-group {
    position: relative;
  }

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}