<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/forgotPassword.css">
</head>
<body>

    <img src="../../public/image/test1.jpg" alt="Không Hiển Thị" id="left-img">

    <div class="forgotPassword">
        <h1>Forgot Password?</h1>
        <h4>No Worries, We will send you reset 😊.</h4>

        <form class="login-form" method="POST" action="../../src/FunctionOfActor/both/sendCodeThroughEmail.php">
            <input type="email" id="email" placeholder="Email Address" required>
           
            <input type="submit" id="submit" value="Send">
        </form>
        <!-- <button id = "back-btn">
            <span class="material-icons"> arrow_back </span>
            <a href="login.html" style = "text-decoration: none;"> Back To Login</a>
        </button> -->
        <a href="login.html" id="back-btn" style = "text-decoration: none;">
            <span class="material-icons">arrow_back</span> Back To Login
        </a>
    </div>
</body>
</html>