<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/forgotPassword.css">
</head>
<body>

    <script src="../../public/js/forgotPassword.js"></script>

    <img src="../../public/image/test1.jpg" alt="Không Hiển Thị" id="left-img">

    <div class="forgotPassword">
        <h1>Quên mật khẩu?</h1>
        <h5>Chúng tôi sẽ giúp bạn tạo lại mật khẩu!</h5>

        <form class="login-form">
            <input type="email" id="email" placeholder="Địa chỉ email" required>
           
            <input type="submit" id="submit" value="Gửi">
        </form>
        <button id = "back-btn">
            <a><span class="material-icons">arrow_back</span> Quay về đăng nhập</a>
        </button>
    </div>
</body>
</html>