<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="../../public/css/ResetPassword.css">
</head>
<body>
    <div class="reset-password-container">
        <div class="left-section">
            <img src="../../public/image/test1.jpg" alt="không hiển thị" id="left-img">
            
        </div>
        <div class="right-section">
            <h1>Đặt lại mật khẩu</h1>
            <p>Nhập mật khẩu mới cho tài khoản của bạn!</p>
        
            <form class="new-form"></form>
                <input type="password" id="password" placeholder="Mật khẩu mới" required>
                <input type="password" id="password" placeholder="Xác nhận mật khẩu mới" required>

                <button class="reset-button">Xác nhận</button>
            </div>
        </form>
    </div>
    
</body>
</html>
