/* Customer Management Card */
.blog-management {
    background-color: white;
    width: 93%;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 70px;
}
select {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

/* Màu cho các trạng thái */
.status-pending {
    background-color: #ffe4bf;
    color: #7b86a1;
    border: 1px solid #fcd195;
}

.status-approved {
    background-color: #e0fde0;
    color: #7b86a1;
    border: 1px solid #65a165;
}

.status-rejected {
    background-color: #f8c9c7;
    color: #7b86a1;
    border: 1px solid #ee8480;
}
