/* Đặt kiểu dáng cho toàn bộ trang */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafb;
    
}

.main-content {
    margin-left: 310px;
    padding-top: 20px;
    width: calc(100% - 310px);
}

.add-destination-btn {
    padding: 10px 20px;
    border: 2px solid #35679C;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #35679C;
    color: #fff;
    margin-bottom: 10px;
}
.add-destination-btn:hover{
    background:none;
    border: 2px solid #35679C;
    color: #35679C;
}


/* Kiểu dáng của ô tìm kiếm và nút thêm mới */
.province-management {
    background-color: white;
    width: 94%;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 70px;
}

select {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

textarea {
    width: 575px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    /* padding: 10px; */
    resize: none;
    overflow-y: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CSS cho bảng con */
.destination-table-wrapper {
    padding: 10px;
    
    border-radius: 5px;
}

.destination-table {
    width: 100%;
    border-collapse: collapse;
}

.destination-table th, .destination-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
